* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    position: relative;
    max-width: 872px;
    margin: 125px;


}

h1 {
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
}

.baralho {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.carta {
    width: 200px;
        height: 250px;
        position: relative;
        margin: 15px;
}

.frente {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.verso  {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    
}

.carta:hover .verso{
    transform: rotateY(0deg);
  }

  .carta:hover .faceFrente {
    transform: rotateY(-180deg);
  }







}